body {
    background-image:url("../../assets/images/qbkls.jpg");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.navbar-brand{
    background: #4aaaa5;
    color: #ffffff;
    height: 50px;
    width: 50%;
    padding: 15px;
    text-align: center;
}

.NameBox {
    display: inline-block;
    background: #4aaaa5;
    width: 15%;
    height: 50px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    font-size: 115%;
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
    color: #ffffff;
}

.content {
    box-sizing: border-box;
    width: 960px;
    background: #ffffff;
    box-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

.topStuff {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #bbbbbb;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 150%;
    font-weight: bold;
}

footer {
    background: #666666;
    color: #bbbbbb;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    padding-top: 30px;
    text-align: center;
    bottom: -15px;
}

/* CSS for portfolio.html exclusive */

.pBoxText {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 44.7%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: #ffffff;
    width: 250px;
    height: 60px;
    padding: 20px;
}

/* CSS for contact.html exclusive */

label {
    color: #666666;
}

#cButton {
    background: #4aaaa5;
}